.DS_Store

**/**/*.zkey
**/**/*.ptau
**/**/proof.json
**/**/public.json 
**/**/witness.wtns

*.r1cs
*.sym

vk/*.json
witness/*.wtns

challenge_0003
response_0003
circuit.rlcs.json


.vscode/
node_modules/